<%= provide(:title, formatted_title("All Jobs")) %>

<h1>All available jobs</h1>

<ul id="job-list">
  <% @jobs.each do |job| %>
    <%= link_to job_path(job.id) do %>
      <li>
        <div class="job-cell">
          <p class="job-title"><%= job.title %></p>
          <p class="job-comp">Company: <%= job.company %></p>
          <p class="job-date">Posted: <%= job.created_at.strftime("%B %-d, %Y") %></p>
        </div>        
      </li>
    <% end %>
  <% end %>
  
</ul>