<% provide(:title, formatted_title("Add a new job")) %>

<h1>Create a new job</h1>

<div class="wide-form">
  <%= form_for(@job) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    
    <%= f.label :company %>
    <%= f.text_field :company %>
    
    <%= f.label :description %>
    <%= f.text_area :description %>
    
    <div id="radio-area">
      <div class="radio_buttons">
        <%= f.label :category, "Full-time" %>
        <%= f.radio_button :category, "full-time" %>
      </div>
      
      <div class="radio_buttons">
        <%= f.label :category, "Part-time" %>
        <%= f.radio_button :category, "part-time" %>
      </div>
      
      <div class="radio_buttons">
        <%= f.label :category, "Contract" %>
        <%= f.radio_button :category, "contract" %>
      </div>
      
      <div class="radio_buttons">
        <%= f.label :category, "Freelance" %>
        <%= f.radio_button :category, "freelance" %>
      </div>
    </div>
    
    <%= f.submit "Create Job" %>
  
  <% end %>
</div>