<% provide(:title, formatted_title("#{ @job.title } created")) %>

<h1><%= @job.title %></h1>
<div id="job-info">
  <p id="job-date">Posted: <%= @job.created_at.strftime("%B %-d, %Y") %></p>
  <p id="job-comp">Company: <%= @job.company %></p>
  <p id="job-cat">Category: <%= @job.category  %></p>
  <div id="job-desc">
    <%= simple_format(@job.description) %>
  </div>
  
  <% if logged_in? %>
    <%= link_to "Apply for this position", apply_path(@job.id) %>
  <% end %>
</div>



