<% provide(:title, formatted_title("Create an account")) %>

<h1>Create an account</h1>

<ul class="errors">
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<div class="wide-form">
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.label "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    
    <%= f.submit "Create an account" %>
  
  <% end %>
  
</div>
