<header class="cat-header">
    <nav>
      <ul>
        <li><%= link_to "All Jobs", jobs_path %></li>
        <li><%= link_to "Full-Time", job_ft_path %></li>
        <li><%= link_to "Part-Time", job_pt_path %></li>
        <li><%= link_to "Contract", job_cont_path %></li>
        <li><%= link_to "Freelance", job_fl_path %></li>
      </ul>
    </nav>
</header>
